<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Node.js example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3de6b5ab59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
<style>
th,td{
	border: 1px solid;
}
</style>
</head>

<%- include('header.ejs', {authUser:authUser}) %>

  <body>
    <div>
      <h2>Current Users</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Permission</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
            <%for (const user of users) { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.permission %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.phone %></td>
                  <td><a  href="/edituser/<%= user.id %>">Update</a></td>
                  <td><button data-toggle="modal" data-target="#modal-toTrashUser<%= user.id %>" class="btn-sm btn-dark details">Delete
                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
                  </td>
                  <div class="modal modal-toTrash" id="modal-toTrashUser<%= user.id %>">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="error-text"><strong>Confirmation</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                          Cancel
                          </button>
                          <form action="/deleteuser/<%= user.id %>" method="post">
                            <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                         </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </tr>
              <% } %>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Add An user</h2>

      <form action="/adduser" method="post">
        <div class="form-horizontal">


          <label>Password:
            <input type="text" name="password" id="password"></input>
          </label>
          <label>Email:
            <input type="text" name="email" id="email"></input>
          </label>
          <label>Name:
            <input type="text" name="name" id="name"></input>
          </label>
          <label>Phone:
            <input type="text" name="phone" id="phone"></input>
          </label>

            <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>
	<!--u_id,postcode,cityname,street,streetnumber,other-->
	<div>
      <h2>Current Locations</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>u_id</th>
            <th>postcode</th>
            <th>city</th>
            <th>street</th>
            <th>streetnumber</th>
            <th>other</th>
          </tr>
        </thead>
        <tbody>
            <%for (const location of locations) { %>
                <tr>
                  <td><%= location.id %></td>
                  <td><%= location.u_id %></td>
                  <td><%= location.postcode %></td>
                  <td><%= location.city %></td>
                  <td><%= location.street %></td>
                  <td><%= location.streetnumber%></td>
                  <td><%= location.other %></td>
                  <td><a  href="/editlocation/<%= location.id %>">Update</a></td>
                  <td><button data-toggle="modal" data-target="#modal-toTrashLocation<%= location.id %>" class="btn-sm btn-dark details">Delete
                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
                  </td>
                  <div class="modal modal-toTrash" id="modal-toTrashLocation<%= location.id %>">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="error-text"><strong>Confirmation</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                          Cancel
                          </button>
                          <form action="/deletelocation/<%= location.id %>" method="post">
                            <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                         </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </tr>
              <% } %>
        </tbody>
      </table>
    </div>
    <div>
	
	<!--u_id,postcode,cityname,street,streetnumber,other-->
      <h2>Add A Location</h2>

      <form action="/addlocation" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Postcode:
            <input type="text" name="postcode" id="postcode"></input>
          </label>
          <label>Cityname:
            <input type="text" name="city" id="city"></input>
          </label>
          <label>Street:
            <input type="text" name="street" id="street"></input>
          </label>
          <label>St. number:
            <input type="text" name="streetnumber" id="streetnumber"></input>
          </label>
            <label>Other:
            <input type="text" name="other" id="other"></input>
            </label>

            <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>

  <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,opens, closes, cprice, restaurantpic-->
    <div>
      <h2>Current Restaurants</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>opens</th>
          <th>closes</th>
          <th>cprice</th>
          <th>restaurantpic</th>
          <th>type</th>
        </tr>
        </thead>
        <tbody>
        <%for (const restaurant of restaurants) { %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= restaurant.u_id %></td>
            <td><%= restaurant.opens %></td>
            <td><%= restaurant.closes %></td>
            <td><%= restaurant.cprice %></td>
            <td><%= restaurant.restaurantpic %></td>
            <td><%= restaurant.type %></td>
            <td><a  href="/editrestaurant/<%= restaurant.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrashRestaurant<%= restaurant.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrashRestaurant<%= restaurant.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deleterestaurant/<%= restaurant.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,opens, closes, cprice, restaurantpic-->
      <h2>Add A Restaurant</h2>

      <form action="/addrestaurant" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Opens:
            <input type="text" name="opens" id="opens"></input>
          </label>
          <label>Closes:
            <input type="text" name="closes" id="closes"></input>
          </label>
          <label>Cprice:
            <input type="text" name="cprice" id="cprice"></input>
          </label>
          <label>Restaurantpic:
            <input type="text" name="restaurantpic" id="restaurantpic"></input>
          </label>
          <label>Type:
            <input type="text" name="type" id="type"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>

    <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,foodname, price, foodpic-->
    <div>
      <h2>Current Foods</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>foodname</th>
          <th>price</th>
          <th>foodpic</th>
        </tr>
        </thead>
        <tbody>
        <%for (const food of foods) { %>
          <tr>
            <td><%= food.id %></td>
            <td><%= food.u_id %></td>
            <td><%= food.foodname %></td>
            <td><%= food.price %></td>
            <td><%= food.foodpic %></td>
            <td><a  href="/editfood/<%= food.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrashFood<%= food.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrashFood<%= food.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deletefood/<%= food.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div><div>
      <h2>Current Foods</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>foodname</th>
          <th>price</th>
          <th>foodpic</th>
        </tr>
        </thead>
        <tbody>
        <%for (const food of foods) { %>
          <tr>
            <td><%= food.id %></td>
            <td><%= food.u_id %></td>
            <td><%= food.foodname %></td>
            <td><%= food.price %></td>
            <td><%= food.foodpic %></td>
            <td><a  href="/editfood/<%= food.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrashFood<%= food.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrashFood<%= food.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deletefood/<%= food.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,foodname, price, foodpic-->
      <h2>Add A Food</h2>

      <form action="/addfood" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Foodname:
            <input type="text" name="foodname" id="foodname"></input>
          </label>
          <label>Price:
            <input type="text" name="price" id="price"></input>
          </label>
          <label>Foodpic:
            <input type="text" name="foodpic" id="foodpic"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>


    <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,fid, ordertime, sumprice-->
    <div>
      <h2>Current Orders</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>fid</th>
          <th>ordertime</th>
          <th>sumprice</th>
          <th>cdone</th>
          <th>rdone</th>
        </tr>
        </thead>
        <tbody>
        <%for (const order of orders) { %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.u_id %></td>
            <td><%= order.fid %></td>
            <td><%= order.ordertime %></td>
            <td><%= order.sumprice %></td>
            <td><%= order.cdone %></td>
            <td><%= order.rdone %></td>
            <td><a  href="/editorder/<%= order.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrashOrder<%= order.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrashOrder<%= order.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deleteorder/<%= order.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,fid, ordertime, sumprice-->
      <h2>Add An Order</h2>

      <form action="/addorder" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>FID:
            <input type="text" name="fid" id="fid"></input>
          </label>
          <label>Ordertime:
            <input type="text" name="ordertime" id="ordertime"></input>
          </label>
          <label>Sumprice:
            <input type="text" name="sumprice" id="sumprice"></input>
          </label>
          <label>Courier done:
            <input type="text" name="cdone" id="cdone"></input>
          </label>
          <label>Restaurant done:
            <input type="text" name="rdone" id="rdone"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>


</html>