<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Node.js example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   

<style>
th,td{
	border: 1px solid;
}
</style>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <div>
      <h2>Current Users</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Permission</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
            <%for (const user of users) { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.permission %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.phone %></td>
                  <td><a  href="/edituser/<%= user.id %>">Update</a></td>
                  <td><button data-toggle="modal" data-target="#modal-toTrash<%= user.id %>" class="btn-sm btn-dark details">Delete
                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
                  </td>
                  <div class="modal modal-toTrash" id="modal-toTrash<%= user.id %>">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="error-text"><strong>Confirmation</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                          Cancel
                          </button>
                          <form action="/deleteuser/<%= user.id %>" method="post">
                            <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                         </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </tr>
              <% } %>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Add An user</h2>

      <form action="/adduser" method="post">
        <div class="form-horizontal">


          <label>Password:
            <input type="text" name="password" id="password"></input>
          </label>
          <label>Email:
            <input type="text" name="email" id="email"></input>
          </label>
          <label>Name:
            <input type="text" name="name" id="name"></input>
          </label>
          <label>Phone:
            <input type="text" name="phone" id="phone"></input>
          </label>

            <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>
	<!--u_id,postcode,cityname,street,streetnumber,other-->
	<div>
      <h2>Current Locations</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>u_id</th>
            <th>postcode</th>
            <th>cityname</th>
            <th>street</th>
            <th>streetnumber</th>
            <th>other</th>
          </tr>
        </thead>
        <tbody>
            <%for (const location of locations) { %>
                <tr>
                  <td><%= location.id %></td>
                  <td><%= location.u_id %></td>
                  <td><%= location.postcode %></td>
                  <td><%= location.cityname %></td>
                  <td><%= location.street %></td>
                  <td><%= location.streetnumber%></td>
                  <td><%= location.other %></td>
                  <td><a  href="/editlocation/<%= location.id %>">Update</a></td>
                  <td><button data-toggle="modal" data-target="#modal-toTrash<%= location.id %>" class="btn-sm btn-dark details">Delete
                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
                  </td>
                  <div class="modal modal-toTrash" id="modal-toTrash<%= location.id %>">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="error-text"><strong>Confirmation</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                          Cancel
                          </button>
                          <form action="/deletelocation/<%= location.id %>" method="post">
                            <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                         </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </tr>
              <% } %>
        </tbody>
      </table>
    </div>
    <div>
	
	<!--u_id,postcode,cityname,street,streetnumber,other-->
      <h2>Add An user</h2>

      <form action="/addlocation" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Postcode:
            <input type="text" name="postcode" id="postcode"></input>
          </label>
          <label>Cityname:
            <input type="text" name="cityname" id="cityname"></input>
          </label>
          <label>Street:
            <input type="text" name="street" id="street"></input>
          </label>
          <label>St. number:
            <input type="text" name="streetnumber" id="streetnumber"></input>
          </label>
            <label>Other:
            <input type="text" name="other" id="other"></input>
            </label>

            <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>

  <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,opens, closes, cprice, restaurantpic-->
    <div>
      <h2>Current Restaurants</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>opens</th>
          <th>closes</th>
          <th>cprice</th>
          <th>restaurantpic</th>
        </tr>
        </thead>
        <tbody>
        <%for (const restaurant of restaurants) { %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= restaurant.u_id %></td>
            <td><%= restaurant.opens %></td>
            <td><%= restaurant.closes %></td>
            <td><%= restaurant.cprice %></td>
            <td><%= restaurant.restaurantpic %></td>
            <td><a  href="/editlocation/<%= restaurant.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrash<%= restaurant.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrash<%= restaurant.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deletelocation/<%= restaurant.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,opens, closes, cprice, restaurantpic-->
      <h2>Add A Restaurant</h2>

      <form action="/addrestaurant" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Opens:
            <input type="text" name="opens" id="opens"></input>
          </label>
          <label>Closes:
            <input type="text" name="closes" id="closes"></input>
          </label>
          <label>Cprice:
            <input type="text" name="cprice" id="cprice"></input>
          </label>
          <label>Restaurantpic:
            <input type="text" name="restaurantpic" id="restaurantpic"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>

    <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,foodname, price, foodpic-->
    <div>
      <h2>Current Foods</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>foodname</th>
          <th>price</th>
          <th>foodpic</th>
        </tr>
        </thead>
        <tbody>
        <%for (const food of foods) { %>
          <tr>
            <td><%= food.id %></td>
            <td><%= food.u_id %></td>
            <td><%= food.foodname %></td>
            <td><%= food.price %></td>
            <td><%= food.foodpic %></td>
            <td><a  href="/editlocation/<%= food.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrash<%= food.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrash<%= food.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deletelocation/<%= food.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,foodname, price, foodpic-->
      <h2>Add A Food</h2>

      <form action="/addfood" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>Foodname:
            <input type="text" name="foodname" id="foodname"></input>
          </label>
          <label>Price:
            <input type="text" name="price" id="price"></input>
          </label>
          <label>Foodpic:
            <input type="text" name="foodpic" id="foodpic"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>


    <!-- ---------------------------------------------------------------------------------- -->

    <!--u_id,fid, ordertime, sumprice-->
    <div>
      <h2>Current Orders</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>u_id</th>
          <th>fid</th>
          <th>ordertime</th>
          <th>sumprice</th>
        </tr>
        </thead>
        <tbody>
        <%for (const order of orders) { %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.u_id %></td>
            <td><%= order.ordertime %></td>
            <td><%= order.sumprice %></td>
            <td><a  href="/editlocation/<%= order.id %>">Update</a></td>
            <td><button data-toggle="modal" data-target="#modal-toTrash<%= order.id %>" class="btn-sm btn-dark details">Delete
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                      data-placement="top" title="Sent to Trash Box"></span></button>
            </td>
            <div class="modal modal-toTrash" id="modal-toTrash<%= order.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="error-text"><strong>Confirmation</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                      Cancel
                    </button>
                    <form action="/deletelocation/<%= order.id %>" method="post">
                      <button class="btn-sm btn-dark details" value="delete">Yes</button></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <div>

      <!--u_id,fid, ordertime, sumprice-->
      <h2>Add An Order</h2>

      <form action="/addorder" method="post">
        <div class="form-horizontal">


          <label>UID:
            <input type="text" name="u_id" id="u_id"></input>
          </label>
          <label>FID:
            <input type="text" name="fid" id="fid"></input>
          </label>
          <label>Ordertime:
            <input type="text" name="ordertime" id="ordertime"></input>
          </label>
          <label>Sumprice:
            <input type="text" name="sumprice" id="sumprice"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    </div>

  </body>


</html>