<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/3de6b5ab59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<%- include("header.ejs", {authUser:authUser}) %>

<form action="/editprofilPassword" method="post">
    <div class="form-horizontal">
        <label>Password:
            <input type="password" name="password" id="password"></input>
        </label>
		<input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
	</div>
</form>

<form action="/editprofilUser" method="post">
    <div class="form-horizontal">
        <label>Name:
            <input type="text" name="name" id="name" value="<%=user.name%>"></input>
        </label>
        <label>Email:
            <input type="text" name="email" id="email" value="<%=user.email%>"></input>
        </label>
        <label>Phone:
            <input type="text" name="phone" id="phone" value="<%=user.phone%>"></input>
        </label>

        <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

    </div>
</form>

<h2>Edit Location</h2>
<form action="/editprofilLocation" method="post">
    <label>Postcode:
        <input type="text" name="postcode" id="postcode" value="<%= location.postcode %>"></input>
    </label>
    <label>City:
        <input type="text" name="city" id="city" value="<%= location.city %>"></input>
    </label>
    <label>Street:
        <input type="text" name="street" id="street" value="<%= location.street %>"></input>
    </label>
    <label>Streetnumber:
        <input type="text" name="streetnumber" id="streetnumber" value="<%= location.streetnumber %>"></input>
    </label>
    <label>Other:
        <input type="text" name="other" id="other" value="<%= location.other %>"></input>
    </label>
    <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
</form>

<% if (authUser.permission === "r") {%>
    <form action="/editprofilRestaurant" enctype="multipart/form-data" method="post">
        <label>Opens:
            <input type="text" name="opens" id="opens" value="<%= restaurant.opens %>"></input>
        </label>
        <label>Closes:
            <input type="text" name="closes" id="closes" value="<%= restaurant.closes %>"></input>
        </label>
        <label>Currier price:
            <input type="text" name="cprice" id="cprice" value="<%= restaurant.cprice %>"></input>
        </label>
        <label>Restaurant picture:
            <input type="file" name="restaurantpic" id="restaurantpic" value="<%= restaurant.restaurantpic %>"></input>
        </label>
        <label>Type:
            <input type="text" name="type" id="type" value="<%= restaurant.type %>"></input>
        </label>
        <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
    </form>
	
	<form action="/editprofilFood" enctype="multipart/form-data" method="post">
        <div class="form-horizontal">
          <label>Foodname:
            <input type="text" name="foodname" id="foodname"></input>
          </label>
          <label>Price:
            <input type="text" name="price" id="price"></input>
          </label>
          <label>Foodpic:
            <input type="file" name="foodpic" id="foodpic"></input>
          </label>

          <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>

        </div>
      </form>

    <div>
        <h2>Current Foods</h2>
        <table>
            <thead>
            <tr>
                <th>foodname</th>
                <th>price</th>
                <th>foodpic</th>
            </tr>
            </thead>
            <tbody>
            <%for (const food of foods) { %>
                <% if (food.u_id === authUser.id) {%>
                <tr>
                    <td><%= food.foodname %></td>
                    <td><%= food.price %></td>
                    <td><%= food.foodpic %></td>
                    <td><form action="/editprofilDeleteFood" method="post">
                            <input type="hidden" name="id" value="<%= food.id %>">
                            <input type="submit" value="Delete">
                        </form></td>
                </tr>
                    <%}%>
            <% } %>
            </tbody>
        </table>
    </div>
<div>

<%}%>

<footer>
    <hr>
    <p></p>
    <p></p>
    <table class="menu" >
        <tbody>
        <tr>
            <td ><a href="/kapcsolatok" style="color:white"> Kapcsolatok </a></td>
            <td ><a href="/aszf" style="color:white">  ÁSZF</a></td>
        </tr>
        </tbody>

    </table>
    <p></p>
    <p></p>
    <hr>
</footer>
</body>
</html>